/* Modal photo visualization */

.modal {
    display: none; 
    position: fixed; 
    display: block;
    z-index: 1; 
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 500px;
    max-height: 500px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.modal-content, #caption { 
    animation-name: zoom;
    animation-duration: 0.6s;
}

.caption {
    position: absolute;
    margin: auto;
    top: 15px;
    left: 35px;
    /* display: block; */
    width: 85%;
    max-width: 90%;
    text-align: left;
    font-size: 15px;
    color: #ccc;
    padding: 10px 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 30px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.button_div{
    display: flex;
    justify-content: center;
}

.button_div button{
    border: none;
    background-color: rgba(33,33,33,0.9); 
    font-family: monospace;
    margin: 0px 20px;
    width: 150px;
    font-size: 25px;
    font-weight: bold;
}

.button_div button {
    color:#ddd;
    cursor: pointer;
}

.button_div button:disabled {
    color:#333;
}